.back-to-top{
  width: 80px;
  height: 80px;
  background: url(https://cmspic-10004025.image.myqcloud.com/30468bb0-544f-11e9-8fe6-9ff16d5c306d_size_120x120) center no-repeat;
  background-size: contain;
  position: fixed;
  right: 30px;
  bottom: 200px;
}